doctype html
html
    head
        title WeTube
        script(src="https://kit.fontawesome.com/55d93bc0ac.js", crossorigin="anonymous")
    body
        header
            include ../partials/header
        main
            block content
        footer
            include ../partials/footer